html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* font-family: '75blitzel', sans-serif; */
}

body {
  background-image: linear-gradient(to bottom, #ffffff, #5db87b3f); /* Градиент от жёлтого к оранжевому */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw; /* 100% ширины окна браузера */
  height: 100vh; /* 100% высоты окна браузера */
}

/* h1 {
  font-family: '75blitzel', sans-serif; /* Примените шрифт к заголовку h1 */
/* } */ 

header {
  margin: 20px auto 0;
  font-size: 10px; 
  width: auto; /* Устанавливает ширину элемента в 200 пикселей */
  height: 50px;
  background-color: #00ff2ae5;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;

  border-radius: 15px; /* Закругление углов на 10 пикселей */
  }
  


nav {
  text-align: center;
  margin: 20px 0;
}

.category-btn {
  font-size: 16px;
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #00ff2ac4;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.category-btn:hover {
  background-color: #2a6bb165;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  max-width: 300px;
  overflow: hidden;
}

.item img {
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.item h2 {
  font-size: 20px;
  margin: 10px;
}

.item p {
  margin: 10px;
  color: #555;
}

.item .price {
  display: block;
  color: #0d570d;
  font-weight: bold;
  font-size: 18px;
  margin: 10px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.item-details {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.item-details-content {
  max-width: 400px;
  margin: 0 auto;
}

.close-details {
  background-color: #ff0000;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 16px;
}

.menu .item:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
